<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar contraseña</title>
</head>
<body>
    <h2>Cambiar contraseña</h2>
    <p>Escribe una nueva contraseña para tu cuenta.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}<br>
        {{ form.new_password1 }}<br><br>
        {{ form.new_password2.label_tag }}<br>
        {{ form.new_password2 }}<br><br>
        <button type="submit">Cambiar contraseña</button>
    </form>
</body>
</html>
